$font-stack: "Roboto", sans-serif;
$COLOR_GRAY: rgba(0, 0, 0, 0.4);
$COLOR_BLACK: rgba(0, 0, 0);
$COLOR_INPUT: rgba(158, 158, 158, 0);
$COLOR_WRAP-INPUT: rgb(158 158 158 / 30%);
$COLOR_TEXT: rgb(255, 255, 255);
$COLOR_SPAN-ERR: rgba(17, 0, 255, 0.993);
$COLOR_VISITED: rgba(255, 0, 0, 0.589);
$COLOR_LABEL: rgb(0 0 0 / 50%);
$COLOR_INPUT-FOCUS: rgba(33, 150, 243, 0.15);
$COLOR_BTN-SUBMIT: rgba(17, 0, 255, 0.993);